.leaderBoard_container {
  background-color: var(--bg-color);
  margin: 1rem 0;
  border-radius: 1rem;
  padding: 2rem 1rem;
}

.show_center {
  text-align: center;
  align-items: center;
}

.toppers {
  display: flex;
  flex-basis: 100%;
  gap: 2.5rem;
  margin-bottom: 2rem;
  padding: 0 1rem;
}

.topper_icon {
  height: 6.25rem;
  position: absolute;
  top: -1.5rem;
  right: -1.4rem;
}

.rank_card {
  flex-basis: 30%;
  color: var(--dull-black);
  padding: 1rem;
  border-radius: 1rem;
  box-sizing: border-box;
  margin-bottom: 1rem;
  position: relative;
}

.rank_card:hover {
  transition: 0.5s;
  box-shadow: 8px 8px 10px var(--shadow-color);
}

.rank1 {
  background-color: #88df60;
  background-image: linear-gradient(
    to right top,
    #88df60,
    #a7e57a,
    #c1eb94,
    #d7f1b0,
    #eaf7cd
  );
}

.rank2 {
  background-color: #abe9cd;
  background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
}

.rank3 {
  background-color: #f39f86;
  background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%);
}

.rank_profile_img {
  height: 5.625rem;
  width: 5.625rem;
  object-fit: cover;
  border-radius: 100%;
}

.sm_text {
  font-size: 0.9rem;
}

.btn_rank {
  margin: 1.5rem;
  padding: 0.5rem 2.5rem;
}

.show_status {
  border-top: 1px solid var(--default-grey);
  padding-top: 0.7rem;
  flex-basis: 100%;
  justify-content: space-between;
}

.status_info {
  align-items: center;
  margin-left: 1.5rem;
  color: var(--dark-grey);
}

.profile_score_icon {
  margin-right: 0.5rem;
  font-size: 1.2rem;
}

.score_first {
  color: var(--score1-card);
}

.score_second {
  color: var(--score2-card);
}

.score_third {
  color: var(--score3-card);
}

.low_rank {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--low-opacity-primary);
  border-radius: 1rem;
  padding: 0.7rem 1rem;
  margin-top: 1.5rem;
}

.user_rank {
  font-size: 2rem;
  padding-top: 0.7rem;
  color: var(--dark-grey);
}

.low_rank_user_info {
  flex-basis: 30%;
}

.low_rank_img {
  height: 3.75rem;
  width: 3.75rem;
  border-radius: 100%;
  margin: 0 1rem;
  object-fit: cover;
}

.btn_low_rank {
  padding: 0 2rem;
  height: 2.5rem;
  background-color: var(--primary-color);
  color: var(--white-color);
}
